/* *{
    background-color: green;
} */ 
/* OR */
body{ 
    background-color: rgb(2, 46, 20);
}
h1{
    color: brown;
    /* color: gray; */
    /* font-size: 25px; */
}
h2{
    color: blueviolet;
}
#btn{
    color: aqua;
    background-color: rgb(3, 102, 3);
    width: 150px;

}
#box{
    background-color: blue;
    /* color: red; */
}
.heading{
    color: red;
}
button{
    background-color: green;
}