
#outer
{
height:400px;
width:400px;
border:1px solid black;
}
#row10
{
height:50px;
width:400px;
border:1px solid black;
}
#row20
{
height:50px;
width:400px;
border:1px solid black;
}
#row30
{
height:50px;
width:400px;
border:1px solid black;
}
#row40
{
height:50px;
width:400px;
border:1px solid black;
}
#row50
{
height:50px;
width:400px;
border:1px solid black;
}
#row60
{
height:50px;
width:400px;
border:1px solid black;
}
#row70
{
height:50px;
width:400px;
border:1px solid black;
}
#row80
{
height:50px;
width:400px;
border:1px solid black;
}

